.meetingForm {
    width:90%;
    display:flex;
    align-items:center;
    border:1px solid  gray;
    justify-content: center;
    border-radius: 10px;
    padding:15px;
    margin:5px;

}
.meetingForm form{
    display: flex;
    gap:10px;
    width:100%;
    /* max-width: 600px; */
}
.meetingForm input{
    flex:1;
    padding:5px;
    font-size:16px;
    background-color:#ececec;
    border:none;
    border-radius: 6px;
}